body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: hsla(341, 100%, 50%, 1);
    background: radial-gradient(circle, hsla(341, 100%, 50%, 1) 0%, hsla(16, 90%, 77%, 1) 100%, hsla(351, 100%, 58%, 1) 100%);
    background: -moz-radial-gradient(circle, hsla(341, 100%, 50%, 1) 0%, hsla(16, 90%, 77%, 1) 100%, hsla(351, 100%, 58%, 1) 100%);
    background: -webkit-radial-gradient(circle, hsla(341, 100%, 50%, 1) 0%, hsla(16, 90%, 77%, 1) 100%, hsla(351, 100%, 58%, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#FF0051", endColorstr="#f9ab8f", GradientType=1);
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #FFFFFF;
}

.gif_container img {
    width: 100%; 
    max-width: 500px; 
    height: auto; 
}
